.textColor{
  color: red;
  font-size: 12px;
  padding-left: 20px;
}

.copyright{
  position: relative;
}
.copyrightText{
  font-size: 10px;
}


.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.textWeaccept{
  font-size: 1rem;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #006238;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:inline;
    margin: 0 auto;
}
.social-icon {
    color: #006238;
    list-style-type: none;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #006238;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    color: red !important;
}
.fa-facebook:hover {
    background-color: #006238;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #006238;
}
.fa-twitter:hover {
    background-color: #006238;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #006238;
}
.fa-rss:hover {
    background-color: #006238;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #006238;
}
.fa-youtube:hover {
    background-color: #006238;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #006238;
}
.fa-linkedin:hover {
    background-color: #006238;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #006238;
}
.fa-google-plus:hover {
    background-color: #006238;
}
.social-icons{
  display: inline-block;
}
.bGcoLorBlack{
  background-color: black;
}
.fa-copyright gHRScolor{
  color: #006238;

}
body{
  background-color: red;
}


















//
// <div className="container footContainerDiv">
//         <a className="container col-1" >
//
//             <span className="textColor">About Us</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//         <a className=" col-1" >
//
//             <span className="textColor">Contact Us</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//         <a className=" col-1" >
//             <span className="textColor">Track Order</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//
// </div>);








//
// <div className="container footContainerDiv">
//         <a className="container col-1" >
//
//             <span className="textColor">About Us</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//         <a className=" col-1" >
//
//             <span className="textColor">Contact Us</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//         <a className=" col-1" >
//             <span className="textColor">Track Order</span>
//             <span className="line -right"></span>
//             <span className="line -top"></span>
//             <span className="line -left"></span>
//             <span className="line -bottom"></span>
//         </a>
//
// </div>);








// .footerStyle{
//   color: #009255;
// }
// // The below is just for the hove ont the about me and contaus us
// // ---------line 145 end this code-------------
// $thick : 3px;
// $pad : 0.7em;
// $extra : calc(#{$pad} * 1.2);
// $color : #009255;
//
//
//
//
//   a {
//
//     padding: 2px;
//     position: relative;
//     font-size: 1rem;
//     cursor: pointer;
//
//
//     .text {
//
//       color: #009255
//       // transform: translate3d(0,$pad,0);
//       // transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
//     }
//
//     &:after {
//       position: absolute;
//       content: '';
//       bottom: -$thick;
//       left: $extra;
//       right: $extra;
//       height: $thick;
//       background: $color;
//       // z-index: -1;
//       transition:
//         transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
//         right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
//         left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
//       transform-origin: left;
//     }
//
//   }
//
//   .line {
//     position: absolute;
//     background: black;
//
//     &.-right,
//     &.-left {
//       width: $thick;
//       bottom: -$thick;
//       top: -$thick;
//       transform: scale3d(1,0,1);
//     }
//
//     &.-top,
//     &.-bottom {
//       height: $thick;
//       left: -$thick;
//       right: -$thick;
//       transform: scale3d(0,1,1);
//     }
//
//     &.-right {
//       right: -$thick;
//       transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
//       transform-origin: top;
//     }
//
//     &.-top {
//       top: -$thick;
//       transition: transform 0.08s linear 0.43s;
//       transform-origin: left;
//     }
//
//     &.-left {
//       left: -$thick;
//       transition: transform 0.08s linear 0.51s;
//       transform-origin: bottom;
//     }
//
//     &.-bottom {
//       bottom: -$thick;
//       transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
//       transform-origin: right;
//     }
//   }
//
//   a:hover,
//   a:active {
//
//     .text {
//       transform: translate3d(0,0,0);
//       transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
//     }
//
//     &:after {
//       transform: scale3d(0,1,1);
//       right: -$thick;
//       left: -$thick;
//       transform-origin: right;
//       transition:
//         transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
//         right 0.2s cubic-bezier(1,0,.65,1.01),
//         left 0s 0.3s;
//     }
//
//     .line {
//       transform: scale3d(1,1,1);
//
//       &.-right {
//         transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
//         transform-origin: bottom;
//       }
//
//       &.-top {
//         transition: transform 0.08s linear 0.4s;
//         transform-origin: right;
//       }
//
//       &.-left {
//         transition: transform 0.08s linear 0.48s;
//         transform-origin: top;
//       }
//
//       &.-bottom {
//         transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
//         transform-origin: left;
//       }
//     }
//
//   }
