@import '~bootstrap/scss/bootstrap.scss';

.GreenGradient {
background: rgb(158,255,172);
background: linear-gradient(90deg, rgba(158,255,172,1) 0%, rgba(42,251,21,1) 35%, rgba(38,143,14,1) 100%);
}

.carousel-item {
   padding: 0 0;
}

.carousel-container {
 padding: 0 0;
}

@media (max-width: 576px) {
 .h3-responsive {
  
 }
 };