img {
    width: 250px;
    margin-right: 70%;
    display:inline-block;
}

#dropdownMenuButton {
    color: #254722;
}

.btn-success.dropdown-toggle {
    background-color: #228a3a !important;
}

.btn-success.dropdown-toggle:hover {
    background-color: #254722 !important;
}

.dropdown {
    margin-left: 70%;
}